.menu li {
  display: inline-block;
}
.lang li {
  display: inline-block;
}
.pakal li {
  display: inline-block;
}
.hwrap {
  background: #473a2d
}
.header {
  width: 15 margin: 0
}
.block {
  width: 5px
  height 5px
}
