body {
  margin: 0;
}
.total_wrap {
  margin: auto;
  width: 1200px;
}
.menu li {
  display: inline-block;
}
.menuu{
  float: right;

}
.menu, .lang {
  display: inline-block;
    vertical-align: top;

}
.menu{
  border-right: 1px solid white ;
  padding-right: 10px;
}

.lang li {
  display: inline-block;
  float: right;
}
.pakal li {
  display: inline-block;
}
.hwrap {
  background: #473a2d;
  width: 1200px;
  height: 94px;
  font-size: 14px;
  margin: 0 auto;
}

.box {
  width: 200px;
  height 200px;
}
.kolon {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}
.text {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}
.tabl {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}
.fon {
  background: #f2ebe1;
}
.atst {
border-bottom: 1px solid black;
padding-bottom: 10px;
}
.texts {
color:#532
  }
